body{ 
    display: flex; 
    flex-direction: column; 
    margin: 0;
    background-color: #F8F0FB;
    color: #211A1D;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
}
header{
    width: 100%;
    margin: 0%;
    padding: 0;
    background-color: #6320EE;
    height: 5%;
}
main{
    flex: 1;
}

footer{
    background-color: #211A1D;
    color: #F8F0FB;
    min-height: 5%;
}
footer p{
    font-size: small;
    margin: 0;
    padding: 0;
}
footer a{
    font-size: small;
    text-decoration: none;
    color: #F8F0FB;
}
footer hr{
    width: 30%;
    color: #F8F0D0;
    opacity: 75%;
}
footer a:hover{
    opacity: 50%;
}
footer .contact{
    margin: 10px auto;
}
footer .column{
    display: flex;
    flex-direction: column;
}
.topFooter{
    display: flex;
    justify-content: space-around;
}
.bottomFooter p{
    text-align: center;
    opacity: 50%;
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

li.left{
    display: block;
    color: #F8F0FB;
    text-align: center;
    font-size: 19px;
    float: left;
    padding: 10px 10px;
    cursor: pointer;
}


li.right{
    display: block;
    float: right;
    padding: 15px 15px;
    color: #F8F0FB;
    text-align: center;
    font-size: 16px;
}
li.right:hover{
    background-color: #6320e0;
    cursor: pointer;
}

@media screen and (max-width:1100px) {
    footer hr{
        width: 45%;
    }
}


@media screen and (max-width:600px) {
   li.left{
    float: none;
   }
   li.right{
    float: none;
   }
   footer hr{
    width: 65%;
   }
}



