table{
    position: relative;
    background-color: #CAD5CA;
    border-collapse: collapse;
    border-radius: 15px;
    margin: 30px auto;
    width: 60%;
    overflow: hidden;
    border: 1px solid #CAD5CA;
}
thead tr{
    background-color: #211A1D;
    color: #F8F0FB;
}
td{
    text-align: center;
    padding: 5px 0 5px 0;
}
tr.middle{
    background-color: #F8F0FB;
}
tr.section{
    border-bottom: 2px solid #211A1D;
}